<div class="container">
  <div class="text-center">
    <h2>Your Friend Invitations</h2>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12">

      <!-- Friend Invitations -->
      <div *ngIf="friendInvitations; else isLoading">
        <div *ngIf="friendInvitations.length > 0; else isNoMoreResults">
          <div *ngFor="let friendInvitation of friendInvitations" class="friend-invitation">
            <div class="row">

              <div class="col-xs-2 owner-icon">
                <img [src]="friendInvitation.iconId ? friendInvitation.iconId : './assets/not-found-profile-picture.png'" class="img-circle" width="60px">
              </div>

              <div class="col-xs-7">
                <p class="h4"><a routerLink="/user/{{friendInvitation.owner.id}}">@{{friendInvitation.owner.userName}}</a> {{friendInvitation.owner.name}}</p>
                <p>No mutual friends</p>
              </div>

              <div class="col-xs-3 options">
                <img class="icon" src="./assets/plus.svg" alt="Accept" (click)="onClickAccept(friendInvitation)">
                <img class="icon" src="./assets/error.svg" alt="Reject" (click)="onClickReject(friendInvitation)">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-template #isLoading>
    <div class="text-center">
      <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
    </div>
  </ng-template>

  <ng-template #isNoMoreResults>
    <div class="text-center">No More Results...
    </div>
  </ng-template>

</div>
