<div class="container">
  <div class="text-center">
    <h2>Friend Invitations</h2>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12">

      <!-- Friend Invitations -->
      <div *ngFor="let friendInvitation of friendInvitations | async" class="friend-invitation">
        <div class="row">
          <div class="col-xs-2 owner-icon">
            <img [src]="friendInvitation.iconId ? friendInvitation.iconId : './assets/noFoundProfilePicture.png'"
                 class="img-circle" width="60px">
          </div>

          <div class="col-xs-7">
            <p class="h4"><a routerLink="/user/{{friendInvitation.owner.id}}">@{{friendInvitation.owner.userName}}</a>
              {{friendInvitation.owner.name}}</p>
            <p>No mutual friends</p>
          </div>

          <div class="col-xs-3 options">
            <button class="btn btn-link" (click)="onClickAccept(friendInvitation)">
              <img class="icon" src="./assets/plus.svg" alt="Accept">
            </button>
            <button class="btn btn-link" (click)="onClickReject(friendInvitation)">
              <img class="icon" src="./assets/error.svg" alt="Reject">
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="friendInvitations[0]==undefined">
        <div class="friend-invitation">
          <div class="row">
            <div class="text-center">
              <h4>No Friend Invitations</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
