<div class="container">
  <div class="col-xs-12">
    <div *ngFor="let activityPlan of activityPlans; trackBy: activityPlan?.id">
      <h2>{{activityPlan.name}}</h2>
      <div *ngFor="let description of activityPlan.descriptions; trackBy: description?.id" [ngSwitch]="description.type">
        <p *ngSwitchCase="0">{{description.content}}</p>
        <img *ngSwitchCase="1" [src]="description.content">
      </div>
      <p class="text-right">
        <span class="tag" *ngFor="let tag of activityPlan.tags; trackBy: tag?.id">{{tag.text}}</span>
      </p>
      <h3>Comments</h3>
      <div>
        <div class="comment" *ngFor="let comment of activityPlan.comments; trackBy: comment?.id">
          <p class="content">{{comment.content}}</p>

          <div class="replies" *ngFor="let reply of comment.replies; trackBy: reply?.id">
            <p class="content">{{reply.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
