<!--<div class="container">-->
  <div class="row">
    <div class="col-xs-12 cover-image" style="background-image: url(https://images.unsplash.com/photo-1464667831196-208f4be2592e?dpr=2&amp;auto=format&amp;fit=crop&amp;w=1199&amp;h=799&amp;q=80&amp;cs=tinysrgb&amp;crop=&amp;bg=);">
      <h1>UniTime</h1>
      <h3>Make Time Different.</h3>
      <hr>
      <!--<h4>Get Started !</h4>-->
    </div>
  </div>
<!--</div>-->

<div class="container">
  <div class="col-xs-12" *ngIf="activityPlans">

    <div *ngFor="let activityPlan of activityPlans; trackBy: activityPlan?.id">
      <!-- Name, Tags and Owner-->
      <h2><a [routerLink]="['/activity-plan', activityPlan.id]" routerLinkActive="active">{{activityPlan.name}}</a></h2>
      <p class="text-right">
        <span class="tag" *ngFor="let tag of activityPlan.tags; trackBy: tag?.id">{{tag.text}}</span>
      </p>
      <p class="text-right">Created by <a routerLink="/user/{{activityPlan.owner.id}}">@{{activityPlan.owner.userName}}</a></p>

      <!-- Descriptions -->
      <div *ngFor="let description of activityPlan.descriptions; trackBy: description?.id"
           [ngSwitch]="description.type">
        <p *ngSwitchCase="0">{{description.content}}</p>
        <div class="text-center">
          <img *ngSwitchCase="1" [src]="description.content">
        </div>
      </div>

    </div>

    <div class="text-center" *ngIf="isLoading">
      <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
    </div>

    <div class="text-center" *ngIf="isNoMoreResults">No More Results...</div>

  </div>
</div>
