<div class="netflix-row">
  <div class="col-xs-12 cover-image">
    <h1>UniTime</h1>
    <h3>・Make Time Different・</h3>
    <hr>
    <!--<h4>Get Started !</h4>-->
  </div>
</div>
<!--Activity Templates-->
<div class="netflix-container">
  <div class="netflix-row">
    <div class="netflix-row-inner" *ngIf="activityTemplates">

      <div *ngFor="let activityTemplate of activityTemplates; trackBy: activityTemplate?.id"
           routerLink="/activity-template/{{activityTemplate.id}}"
           class="netflix-tile">
        <div>
          <img class="netflix-tile-img"
               [src]="activityTemplate.coverImageDescription ? activityTemplate.coverImageDescription.content : './assets/not-found-profile-picture.png'"
               alt="activityTemplate.name">
        </div>
        <div class="netflix-tile-details">
          <div class="netflix-tile-title">
            {{activityTemplate.name}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<br>
<br>

<!--Activity Plans-->
<div class="container">
  <div class="col-xs-12" *ngIf="activityPlans">

    <div class="col-md-4 col-sm-6"
         *ngFor="let activityPlan of activityPlans; trackBy: activityPlan?.id">

      <div class="activity-plan">
        <!-- Cover Image -->
        <div class="cover">
          <a *ngIf="activityPlan.coverImageDescription" class="cover-image"
             [ngStyle]="{'background-image': 'url(' + activityPlan.coverImageDescription.content + ')'}">
            <!--<a class="rating" [ngClass]="{'active': activityPlan.myRatingStatus == 0}" (click)="onClickLike(activityPlan)"><i class="fa fa-heart" aria-hidden="true"></i></a>-->
            <!--<a class="image-center" routerLink="/activity-plan/{{activityPlan.id}}"></a>-->
            <!--<a class="dislike" [ngClass]="{'active': activityPlan.myRatingStatus == 1}" (click)="onClickDislike(activityPlan)"><i class="fa fa-ban" aria-hidden="true"></i></a>-->
          </a>
        </div>
        <h2 class="h3 title">
          <a routerLink="/activity-plan/{{activityPlan.id}}">{{activityPlan.name}}</a>
        </h2>

        <!-- Owner and Tag-->
        <div>
          <p>{{activityPlan.coverTextDescription?.content}}</p>
          <p class="text-right">Created by <a routerLink="/user/{{activityPlan.owner.id}}">@{{activityPlan.owner.userName}}</a></p>
          <span class="tag" *ngIf="activityPlan.tags.length == 0">&nbsp;</span>
          <p>
            <span class="tag" *ngFor="let tag of activityPlan.tags; trackBy: tag?.id">{{tag.text}}</span>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="margin-top: 10px;">
  <div class="text-center" *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
  </div>

  <div class="text-center" *ngIf="isNoMoreResults">No More Results...</div>
</div>
