.cover-image {
  background-size: cover;
  background-position: center;
  padding-top: 25%;
  padding-bottom: 20%;
  text-align: center;
  margin-top: -21px;
  background-image: url(https://images.weserv.nl/?url=goo.gl/hMsQ7e&output=jpg);

  h1, h3, h4 {
    color: white;
  }

  h1 {
    font-weight: 700;
    font-size: 5em;
  }

  hr {
    width: 18em;
  }
}

.tag {
  margin-right: 5px;
  color: lightgray;
}

.comment {
  > .content {

  }

  > .replies {
    margin-left: 12px;
  }
}
