<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-horizontal">

        <!-- Activity Name -->
        <div class="form-group">
          <label for="name" class="col-md-3 control-label">Activity Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="name" placeholder="Name"
                   [(ngModel)]="createActivityTemplateInput.name">
          </div>
        </div>

        <!-- Tags -->
        <div class="form-group">
          <label for="tags" class="col-md-3 control-label">Tags</label>
          <div class="col-md-9">
            <input id="tags" class="form-control" [(ngModel)]="pageControls.tagTextsString"
                   placeholder="Type some tags like these #CUHK #UT #Astronomy #NA">
          </div>
        </div>

        <!-- Reference Time Slots -->
        <div class="form-group">
          <label class="col-md-3 control-label">Reference Time Slots</label>
          <div class="col-md-9">

            <div *ngFor="let timeSlot of createActivityTemplateInput.referenceTimeSlots; let i = index;"
                 class="row time-slot">
              <div class="col-xs-1">
                <div class="handle delete" (click)="onClickRemoveTimeSlot(i)">
                  <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-6">
                    <input class="form-control" [ngModel]="timeSlot.startTime | date: 'short'"
                           [(dateTimePicker)]="timeSlot.startTime" [mode]="'dropdown'" readonly>
                  </div>
                  <div class="col-xs-6">
                    <input class="form-control" [ngModel]="timeSlot.endTime | date: 'short'"
                           [(dateTimePicker)]="timeSlot.endTime" [mode]="'dropdown'" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-default btn-block" (click)="onClickAddTimeSlot()">Add a Time Slot</button>
              </div>
            </div>

          </div>
        </div>

        <!-- Descriptions -->
        <div class="form-group">
          <label class="col-md-3 control-label">Descriptions</label>
          <div class="col-md-9">

            <!-- Description -->
            <div [dragula]='"descriptions-bag"' [dragulaModel]="createDescriptionInputs">
              <div *ngFor="let createDescriptionInput of createDescriptionInputs; let i = index;"
                   class="row description">
                <div class="col-xs-1">
                  <div class="handle drag">
                    <i class="glyphicon glyphicon-apple" aria-hidden="true"></i>
                  </div>
                  <br>
                  <div class="handle delete" (click)="onClickRemoveDescription(i)">
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-xs-11" [ngSwitch]="createDescriptionInput.type" style="text-align: center;">
                  <textarea *ngSwitchCase="0" class="form-control" placeholder="Please enter your description"
                            [(ngModel)]="createDescriptionInput.input.text"></textarea>
                  <img *ngSwitchCase="2" style="max-width: 100%; max-height: 300px;"
                       [src]="createDescriptionInput.input.imageId | internalImage">
                </div>
              </div>
            </div>

            <!-- Add a description -->
            <button class="btn btn-default btn-block" (click)="onClickAddTextDescription()">Add a Description</button>

            <!-- File Drop -->
            <div class="row">
              <div class="col-xs-12">
                <div *ngIf="fileDropControls.options"
                     ngFileDrop class="file-drop-box"
                     [options]="fileDropControls.options"
                     [ngClass]="{'file-over': fileDropControls.isFileOver}"
                     (onUpload)="onFileUpload($event)"
                     (onFileOver)="onFileOver($event)">
                  Drag a file here.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Location Name -->
        <div class="form-group">
          <label for="locationName" class="col-md-3 control-label">Location Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="locationName" placeholder="Search for location"
                   autocorrect="off" autocapitalize="off" spellcheck="off"
                   #locationNameElementRef [formControl]="locationNameControl">
          </div>
        </div>

        <!-- Google Maps -->
        <div class="row">
          <div class="hiddex-xs col-md-3"></div>
          <div class="col-xs-12 col-md-9">

            <agm-map
              [latitude]="mapControls.map.lat"
              [longitude]="mapControls.map.lng"
              [zoom]="mapControls.map.zoom"
              [disableDefaultUI]="false"
              [zoomControl]="true"
              (mapClick)="onClickMap($event)">

              <agm-marker
                *ngFor="let marker of mapControls.markers; let i = index"
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [label]="marker.label"
                [markerDraggable]="marker.draggable">
              </agm-marker>

            </agm-map>

            <br>
          </div>
        </div>

        <!-- Submit -->
        <div class="row">
          <div class="hidden-xs col-md-3"></div>
          <div class="col-xs-12 col-md-9">
            <button type="button" class="btn btn-primary" (click)="onClickCreate()">Create</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br><br><br><br>
