<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-horizontal">

        <div class="form-group">
          <label for="name" class="col-md-3 control-label">Activity Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="name" placeholder="Name"
                   [(ngModel)]="createActivityTemplateInput.name">
          </div>
        </div>
        <div class="form-group">
          <label for="locationName" class="col-md-3 control-label">Location Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="locationName" placeholder="Search for location"
                   autocorrect="off" autocapitalize="off" spellcheck="off"
                   #locationNameElement [formControl]="locationNameControl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Reference Time Slots</label>
          <div class="col-md-9">
            <div *ngFor="let timeSlot of createActivityTemplateInput.referenceTimeSlots; let i = index;" class="row" style="margin-bottom: 5px;">
              <div class="col-xs-6">
                <input class="form-control" [ngModel]="timeSlot.startTime | date: 'short'" [(dateTimePicker)]="timeSlot.startTime" [mode]="'dropdown'" readonly>
              </div>
              <div class="col-xs-6">
                <input class="form-control" [ngModel]="timeSlot.endTime | date: 'short'" [(dateTimePicker)]="timeSlot.endTime" [mode]="'dropdown'" readonly>
              </div>
              <div class="row">
                <div class="col-xs-10 col-sm-11"></div>
                <div class="col-lg-1">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="onClickDeleteATimeSlot(i)"></span>
                </div>
              </div>
            </div>

            <button class="btn btn-default btn-block" (click)="onClickAddATimeSlot()">Add a Time Slot</button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Descriptions</label>
          <div class="col-md-9">
            <div *ngFor="let createTextDescriptionInput of createTextDescriptionInputs; let i = index;" style="margin-bottom: 5px;">
              <textarea class="form-control" placeholder="Please enter your description" [(ngModel)]="createTextDescriptionInput.text"></textarea>
              <div class="row">
                <div class="col-xs-10 col-sm-11"></div>
                <div class="col-xs-1">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="onClickDeleteADescription(i)"></span>
                </div>
              </div>
            </div>

            <button class="btn btn-default btn-block" (click)="onClickAddADescription()">Add a Description</button>
          </div>
        </div>

        <div class="row">
          <div class="hiddex-xs col-md-3"></div>
          <div class="col-xs-12 col-md-9">
            <sebm-google-map
              [latitude]="map.lat"
              [longitude]="map.lng"
              [zoom]="map.zoom"
              [disableDefaultUI]="false"
              [zoomControl]="true"
              (mapClick)="onClickMap($event)">

              <sebm-google-map-marker
                *ngFor="let marker of markers; let i = index"
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [label]="marker.label"
                [markerDraggable]="marker.draggable"
                (markerClick)="onClickMarker(marker.label, i)">

                <sebm-google-map-info-window>
                  <strong>InfoWindow content</strong>
                </sebm-google-map-info-window>

              </sebm-google-map-marker>

            </sebm-google-map>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="hidden-xs col-md-3"></div>
          <div class="col-xs-12 col-md-9">
            <button type="button" class="btn btn-primary" (click)="createActivityTemplate()">Submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
