.selected-activity-templates {
  min-height: 700px;
  background: #ECECEC;
}

.sticky-end {
  bottom: auto !important;
}

.description {
  padding-bottom: 5px;
}

.activity-template-selector {
  max-height: 90vh;
  overflow-y: auto;
  padding: 5px;

  .activity-template {
    margin-bottom: 20px;
    position: relative;

    .cover {
      display: block;

      .cover-image {
        display: block;
        width: 100%;
        padding-bottom: 60%;
        background: no-repeat 50%;
        background-size: cover;
      }
    }
  }
}
