agm-map {
  height: 500px;
}

.sticky-end {
  bottom: auto !important;
}

.comments {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;

  .user-icon {
    width: 55px;
    height: 55px;
  }

}

.ratings {
  .rating {
    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;

      &.like {
        box-shadow: 0 0 4px 0 greenyellow;
      }

      &.dislike {
        box-shadow: 0 0 3px 0 red;
      }
    }
  }
}
