<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="activityPlan">
        <!-- Name and Owner-->
        <h1 class="h3">{{activityPlan.name}}</h1>
        <div class="text-right">Provided by <a routerLink="/user/{{activityPlan.owner.id}}">@{{activityPlan.owner.userName}}</a>
        </div>

        <!-- Descriptions -->
        <div *ngFor="let description of activityPlan.descriptions; trackBy: description?.id"
             [ngSwitch]="description.type">
          <p *ngSwitchCase="0">{{description.content}}</p>
          <div class="text-center" *ngSwitchCase="1">
            <img style="margin-bottom: 10px;" [src]="description.content"
                 onError="this.src = './assets/noFoundImag.png';">
          </div>
        </div>

        <!-- Tags -->
        <p class="text-right">
          <span class="tag" *ngFor="let tag of activityPlan.tags; trackBy: tag?.id">#{{tag.text}}</span>
        </p>

        <!--Activities Plan-->
        <h2>Activities Plan</h2>
        <div class="card card-block"
             *ngFor="let activityTemplate of activityPlan.timeSlots">
          <h3>{{activityTemplate.activityTemplate.name}}</h3>

          <!-- Descriptions -->
          <div *ngFor="let description of activityTemplate.activityTemplate.descriptions; trackBy: description?.id"
               [ngSwitch]="description.type">
            <p *ngSwitchCase="0">{{description.content}}</p>
            <div class="text-center" *ngSwitchCase="1">
              <img style="margin-bottom: 10px;" [src]="description.content"
                   onError="this.src = './assets/noFoundImag.png';">
            </div>
          </div>

          <!--Time Slots-->
          <div class="row"
               *ngFor="let timeSlot of activityTemplate.activityTemplate.referenceTimeSlots;">
            <h5 class="col-xs-6">Time: {{timeSlot.startTime | date: 'short'}}</h5>
            <h5 class="col-xs-6">{{timeSlot.endTime | date: 'short'}}</h5>
          </div>

          <!--Owner-->
          <div class="text-right">Provided by <a routerLink="/user/{{activityTemplate.activityTemplate.owner.id}}">@{{activityTemplate.activityTemplate.owner.userName}}</a>
          </div>
        </div>

        <!-- Comments -->
        <h3>Comments</h3>
        <div>
          <div class="comments">
            <div *ngFor="let comment of activityPlan.comments">
              <div class="comment">
                <div class="row">

                  <!-- User Icon -->
                  <div class="col-xs-2">
                    <img class="user-icon"
                         [src]="comment.owner.iconId ? (comment.owner.iconId | internalImage) : './assets/noFoundProfilePicture.png'"
                         alt="">
                  </div>

                  <div class="col-xs-10">

                    <!-- Display Comments -->
                    <div>
                      <div style="border: 1px solid #EEEEEE; margin-bottom: 10px;">
                        <div style="border-bottom: 1px solid #CCCCCC; padding: 5px; background: #F5F5F5;">
                          <span class="comment-name"><a
                            href="http://creaticode.com/blog">@{{comment.owner.userName}}</a></span>
                          <span>{{comment.creationTime | amTimeAgo}}</span>
                        </div>
                        <div style="padding: 5px;">{{comment.content}}</div>
                      </div>
                    </div>

                    <!-- Replies -->
                    <div class="replies">

                      <!-- Display Replies-->
                      <div *ngFor="let reply of comment.replies">
                        <div class="row">
                          <div class="col-xs-2">
                            <img class="user-icon"
                                 [src]="reply.owner.iconId ? (reply.owner.iconId | internalImage) : './assets/noFoundProfilePicture.png'"
                                 alt="">
                          </div>
                          <div class="col-xs-10">
                            <div style="border: 1px solid #EEEEEE;">
                              <div style="border-bottom: 1px solid #CCCCCC; padding: 5px; background: #F5F5F5;">
                                <span><a href="http://creaticode.com/blog">@{{reply.owner.userName}}</a></span>
                                <span>{{reply.creationTime | amTimeAgo}}</span>
                              </div>
                              <div style="padding: 5px;">{{reply.content}}</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Create Reply -->
                      <div style="margin-top: 5px;">
                        <div class="row">
                          <div class="col-xs-2"></div>
                          <div class="col-xs-10">
                            <div class="form-group">
                              <input class="form-control" type="text" placeholder="Write a reply..."
                                     [(ngModel)]="createReplyInput.content" (keyup.enter)="onClickCreateReply(comment)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Create Comment -->
            <div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Write a comment..."
                       [(ngModel)]="createTextCommentInput.content" (keyup.enter)="onClickCreateTextComment()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
