.navbar{
  background-color: white;
}

.container-fluid{
  background-color: #699CFC;
}

.nav{
  color: white;
}





//.customised-button{
//  color: white;
//}

.search-bar {
  width: 15%;
  margin-top: 12px;
}
