<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="toggleNavigation()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UniTime</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
         [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a routerLink="/world" routerLinkActive="active">World</a></li>
        <li><a routerLink="/activity-templates" routerLinkActive="active">Activity Templates</a></li>
        <li *ngIf="myUser"><a routerLink="/chat-rooms" routerLinkActive="active">Chat Rooms</a></li>
        <li *ngIf="myUser"><a routerLink="/create-activity-template" routerLinkActive="active">Create Activity Template</a></li>
        <li *ngIf="myUser"><a routerLink="/create-activity-plan" routerLinkActive="active">Create Activity Plan</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="myUser">
        <li><a routerLink="/create-activity" routerLinkActive="active">Create Activity</a></li>
        <li dropdown class="dropdown">
          <a dropdownToggle class="dropdown-toggle" role="button">{{myUser.name}} <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li><a routerLink="/user/{{myUser.id}}">User Page</a></li>
            <li><a routerLink="/update-user">Update User</a></li>
            <li><a routerLink="/friend-invitations">Friend Invitation List</a></li>
            <li><a (click)="logOut()">Log Out</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!myUser">
        <li><a routerLink="/log-in" routerLinkActive="active">Log In</a></li>
        <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
