<div class="messenger" *ngIf="chatRooms; else isLoading" (swiperight)="onSwipe($event)" (swipeleft)="onSwipe($event)">
  <div class="chat-room-selector" [ngClass]="{'hidden-xs': pageControls.isChatRoomsSelectorExpanded}">
    <div class="chat-rooms-selector-header">
      <h1 class="h2">Chat Rooms</h1>
    </div>

    <div class="chat-rooms">
      <div *ngFor="let chatRoom of chatRooms; trackBy: chatRoom?.id" class="chat-room" [ngClass]="{'active': chatRoom.id == selectedChatRoom?.id}"
           (click)="onClickChatRoom(chatRoom)">
        <p class="h4">{{chatRoom.name}}</p>
        <p class="last-message" *ngIf="chatRoom.latestMessage">{{chatRoom.latestMessage?.message}}<br> at {{chatRoom.latestMessage?.creationTime | timeAgo}}</p>
        <p class="last-message" *ngIf="!chatRoom.latestMessage">You are in the chat room<br></p>

      </div>

      <div *ngIf="chatRooms.length == 0" class="no-more-buddies">No More Chat Rooms</div>

    </div>
    <div class="chat-footer">
      <button class="btn btn-default btn-block" (click)="createChatRoomModal.show()">Create New Chat Room</button>
    </div>
  </div>

  <div *ngIf="selectedChatRoom" class="main-container">
    <div class="chat-content">
      <div class="chat-container">
        <div class="chat-messages-container" #chatMessagesContainer>
          <br>

          <div *ngFor="let message of selectedChatRoom.messages; trackBy: message?.id;">
            <div *ngIf="message.ownerId != myUser.id">
              <p>@{{selectedChatRoom.participantDictionary[message.ownerId]?.userName}}<br><b>{{message.message}}</b><br>{{message.creationTime | date : 'shortTime'}}</p>
            </div>
            <div *ngIf="message.ownerId == myUser.id" class="text-right">
              <p><b>{{message.message}}</b><br>{{message.creationTime | date : 'shortTime'}}</p>
            </div>
          </div>

          <div class="text-center" *ngIf="selectedChatRoom.messages.length == 0">No Messages.</div>
        </div>

        <div class="chat-input">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Please type your message."
                   [(ngModel)]="createTextChatRoomMessageInput.text" (keyup.enter)="onClickSendMessage()">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="onClickSendMessage()">Send</button>
            </span>
          </div>
        </div>
      </div>

      <div class="side-content hidden-xs">
        <div class="selected-chat-room-name">
          <h2 class="h3">{{selectedChatRoom.name}}</h2>
        </div>

        <div class="participants" *ngIf="selectedChatRoom">
          <p class="h4">Participants</p>
          <div *ngFor="let participant of selectedChatRoom.participants; trackBy: participant?.id;">
            <a routerLink="/user/{{participant.id}}" target="_blank">@{{participant.userName}}</a>
          </div>
        </div>

        <div style="padding: 3px;">
          <button class="btn btn-default" style="width: 100%;" (click)="inviteFriendsModal.show()">Invite Friends
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" bsModal #createChatRoomModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Chat Room</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createChatRoomModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Name -->
        <div class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="createChatRoomInput.name">
            </div>
          </div>
        </div>

        <!-- Friends -->
        <div *ngIf="friends">
          <div *ngFor="let friend of friends" class="row friend">
            <div class="col-xs-1 col-sm-1 text-right"><input type="checkbox" [(ngModel)]="friend.isSelected" name="isSelected"></div>

            <div class="col-xs-2 col-sm-1 text-center">
              <img
                [src]="friend.user.iconId ? friend.user.iconId : './assets/not-found-profile-picture.png'"
                class="img-circle"
                width="60px">
            </div>

            <div class="col-xs-9 col-sm-10"><b>@{{friend.user.userName}}</b> {{friend.user.name}} {{friend.user.surname}}</div>
          </div>

          <div *ngIf="friends.length == 0">Friends List is empty.</div>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-default btn-block" (click)="onClickCreateChatRoom()">Submit</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #inviteFriendsModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Invite Your Friends to Join</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="inviteFriendsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Friends -->
        <div *ngIf="friends">
          <div *ngFor="let friend of friends" class="row friend">
            <div class="col-xs-1 col-sm-1 text-right"><input type="checkbox" [(ngModel)]="friend.isSelected" name="isSelected"></div>

            <div class="col-xs-2 col-sm-1 text-center">
              <img
                [src]="friend.user.iconId ? friend.user.iconId : './assets/not-found-profile-picture.png'"
                class="img-circle"
                width="60px">
            </div>

            <div class="col-xs-9 col-sm-10"><b>@{{friend.user.userName}}</b> {{friend.user.name}} {{friend.user.surname}}</div>
          </div>

          <div *ngIf="friends.length == 0">Friends List is empty.</div>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-default btn-block" (click)="onClickAddFriendsToChatRoom()">Submit</button>

      </div>
    </div>
  </div>
</div>

<ng-template #isLoading>
  <div class="text-center">
    <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
  </div>
</ng-template>
