<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-4 bg-white ">

      <!-- =============================================================== -->
      <!-- member list -->
      <ul *ngFor="let chatRoom of chatRooms; trackBy: chatRoom?.id" class="friend-list">
        <li class="active bounceInDown">
          <a (click)="onClickChatRoom(chatRoom)" class="clearfix">
            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
            <div class="friend-name">
              <strong>{{chatRoom.name}}</strong>
            </div>
            <small class="time text-muted">Just now</small>
            <small class="chat-alert label label-danger">1</small>
          </a>
        </li>
      </ul>
    </div>

    <!--=========================================================-->
    <!-- selected chat -->
    <div class="col-md-8 bg-white ">
      <div *ngIf="selectedChatRoom" class="chat-message">
        <ul *ngFor="let message of selectedChatRoom.messages; trackBy: message?.id;" class="chat">
          <li *ngIf="message.ownerId != myUser.id" class="left clearfix">
                    	<span class="chat-img pull-left">
                    		<img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong
                  class="primary-font">@{{selectedChatRoom.participantDictionary[message.ownerId].userName}}</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.creationTime |
                  date:'medium' }}
                </small>
              </div>
              <p>
                {{message.message}}
              </p>
            </div>
          </li>
          <li *ngIf="message.ownerId == myUser.id" class="right clearfix">
                    	<span class="chat-img pull-right">
                    		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">{{myUser.name}}</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{message.creationTime |
                  date:'medium' }}
                </small>
              </div>
              <p>
                {{message.message}}
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="chat-box bg-white">
        <div class="input-group">
          <input class="form-control" [(ngModel)]="createTextChatRoomMessageInput.text"
                 placeholder="Type your message here">
          <span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button" (click)="onClickSendMessage()">Send</button>
            		</span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</div>
