<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-right">

        <a class="btn btn-default" routerLink="/update-user">Update</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <section class="timeline">
        <ul>
          <li>
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                  <time>11:00 - 13:00</time>
                  <h3>香港行山一天遊</h3>

                  <div class="cover-image" style="background-image: url(https://www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif)">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="col-sm-8">
      <div *ngIf="user">
        <h1>{{user.name}} {{user.surname}}</h1>
      </div>
    </div>
  </div>
</div>


