<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <div class="form-group">
        <input type="text" class="form-control" id="keywords" placeholder="Keywords" [formControl]="queryKeywordsControl">
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <button class="btn btn-default btn-block">Advanced</button>
    </div>
  </div>

  <br>

  <div class="row" *ngIf="activityTemplates" infinite-scroll (scrolled)="onScroll()">
    <div class="activity-template col-xs-12 col-sm-6"
         *ngFor="let activityTemplate of activityTemplates; trackBy: activityTemplate?.id">
      <a class="cover" routerLink="/activity-template/{{activityTemplate.id}}" routerLinkActive="active">
        <div class="cover-image" *ngIf="activityTemplate.coverImageDescription" [ngStyle]="{'background-image': 'url(' + activityTemplate.coverImageDescription.content + ')'}"></div>
      </a>
      <h2 class="h3 title"><a routerLink="/activity-template/{{activityTemplate.id}}" routerLinkActive="active">{{activityTemplate.name}}</a></h2>
      <p class="text-left" *ngIf="activityTemplate.referenceTimeSlots.length > 0">{{activityTemplate.referenceTimeSlots[0].startTime | date : 'medium'}}</p>
      <p class="text-right">Created by <a routerLink="/user/{{activityTemplate.owner.id}}">{{activityTemplate.owner.userName}}</a></p>
    </div>
  </div>

  <div class="text-center" *ngIf="isLoading">Loading...</div>
  <div class="text-center" *ngIf="isNoMoreResults">No More Results...</div>
  <br>
</div>
