/* You can add global styles to this file, and also import other style files */
@import "styles/bootstrap";

typeahead-container {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;

  .dropdown-menu {
    width: 100% !important;
  }
}
