<section class="timeline">
  <ul>
    <li>
      <div>
        <time>11:00 - 13:00</time>
        <h3>
          香港行山一天遊
        </h3>

        <div class="customised-photo">
        </div>
      </div>
    </li>

    <li>
      <div>
        <time>11:00 - 13:00</time>
        <h3>
          A day with gf!
        </h3>

        <div class="customised-photo">
        </div>
      </div>
    </li>

    <li>
      <div>
        <time>11:00 - 13:00</time>
        <h3>
          Happy study day
        </h3>

        <div class="customised-photo">
        </div>
      </div>
    </li>

    <li>
      <div>
        <time>11:00 - 13:00</time>
        <h3>
          study study study...
        </h3>

        <div class="customised-photo">
        </div>
      </div>
    </li>

  </ul>
</section>
